/* Estilos para el formulario de pagos*/
#card_pago {
    background-color: #030620;
    border: 1px solid #00bfff;
}
#card_resumen {
    background-color: #030620;
    border: 1px solid #2a3a6e;
}
.input_pago {
    background-color: #555f7b !important;
    border: none !important;
    color: white !important;
    border-radius: 20px !important;
}
.input_pago:focus {
    box-shadow: 0 0 0 2px #00bfff !important;
}
#btn_pagar {
    background-color: #1a51f6;
    color: white;
    font-size: 16px;
    transition: all 0.3s ease;
}
#btn_pagar:hover {
    background-color: #0044cc;
    color: white;
}
#card_cliente {
    background-color: #c8d0e0;
}
h5{
    color: #e8d8d8 !important;
}
hr{
    border-color: #ffffff; 
    border-width: 5px; 
    opacity: 1;
}
/* Estilos para validar los campos */
.error-mensaje {
    display: none;
    color: #ff4d4d;
    font-size: 11px;
    margin-top: 4px;
}
/* Cunado detecta un error manda el mensaje */
.grupo-incorrecto .error-mensaje {
    display: block;
}

.grupo-incorrecto .form-control {
    border: 2px solid #ff4d4d !important;
}

.pago__mensaje {
    height: 45px;
    line-height: 45px;
    background: #F66060; /* Rojo por defecto */
    padding: 0 15px;
    border-radius: 10px;
    display: none; /* Oculto al inicio */
    margin-bottom: 15px;
    color: white;
    font-size: 14px;
}

/* Clase para cuando el mensaje es de éxito (Verde) */
.pago__mensaje-exito {
    background: #11d081 !important;
}

/* Clase para mostrarlo */
.pago__mensaje-activo {
    display: block;
}
